

<div class="d-flex flex-column" id = "content" #content >
    <div>
      <mat-progress-bar color="accent" *ngIf="isLoading1" mode="indeterminate"></mat-progress-bar>
     </div>
    <div class="row1 d-flex flex-row p-2" style="width:100%;background-color: white;">
      <div style="width:60%">
        <p class="heading">Selection</p>
      </div>
     
    </div>
    <p class="text px-2 py-1">Please select the algorithm to run the clustering</p>
     <div class="d-flex flex-row" style="width:100%">
      <div style="width:32%" class="mx-2">
        <mat-accordion>
          <mat-expansion-panel  [expanded]="true" style="overflow-y: hidden;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex flex-row" style="width:100%">
                  <select style="width:10em;border:none; color:  #3F7FFF;font-family: Outfit;font-size: 14px;font-weight: 500;" 
                  (click)="runButtonClicked($event)" (change)="onSelectAlgorithm()" class="hide-dropdown-icon" [(ngModel)]="selectedAlgorithm">
                  <option [ngValue]="null" disabled selected hidden>Select item</option>
                  <option *ngFor="let description of itemDescriptions" [value]="description">{{ description }}</option>
                  </select>
                  
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div style="width:80%"></div>
                <div style="display: flex; justify-content: end; width: 20%">
                  <button type="button" 
                    (click)="runButtonClicked1($event)" [disabled]="!selectedAlgorithm || !selectedInitMethod ||
                    !selectedClusterRange " class="btn btn-light run-button">Run</button>
                </div>
                
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="overflow-y: scroll;height:57vh" *ngIf="isOptionSelectedA1">
            <div class="pb-4 pt-3">
                <div class="d-flex flex-column">
                    <label class="lab">Index Column</label>
                    <select class="drop" [(ngModel)]="selectedInitMethod">
                      <option [ngValue]="null" disabled selected hidden>Customer Id</option>
                      <option value="option1">KMeans++</option>
                    </select>
                  </div>
              
                      <div class="d-flex flex-column">
                      <label class="lab">Item</label>
                      <select class="drop" [(ngModel)]="selectedClusterRange">
                        <option [ngValue]="null" disabled selected hidden>Stock Code</option>
                        <option value="option1">KMeans++</option>
                      </select>
                    </div>
            </div>
            
           <!-- <div class="d-flex flex-row" style="width:100%">
              <div class="d-flex flex-column px-1" style="width:50%">
                <label class="lab">Cluster Range</label>
              <input  [(ngModel)]="selectedClusterRange" class="drop" type="text" placeholder="">
              </div>
              <div class="d-flex flex-column px-1" style="width:50%">
                <label class="lab"># of iterations</label>
              <input  [(ngModel)]="selectedIterations" class="drop" type="text" placeholder="">
              </div>
           </div> -->
           <div *ngIf="isLoadingKM && clickbutton">
            <div class="d-flex justify-content-center">
              <!-- <div class="spinner-border" role="status" > -->
                <span class="sr-only" id="loading"></span>
              <!-- </div> -->
            </div>
          </div>
        
            <div *ngIf="!isLoadingKM && clickbutton" class="p-1"style="background-color: #F8F8F8;width:100%;">
                <div class="card border-0 " style="background-color: white;margin:1em;">
                  
                    <div class="alert alert-success d-flex align-items-center mt-3 mx-1" role="alert">
                        <i class="bi bi-check-circle-fill px-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                              </svg>
                        </i>
                        
                        <div>
                          Item based similarity matrix has been built successfully
                        </div>
                      </div>
                
                </div>
            </div>      
                <!-- <div class="d-flex flex-column" style="width:50%">
                  <label class="lab"># of clusters</label>
                <input class="drop" type="text" placeholder="" required [(ngModel)]="clusterKm">
                </div> -->
              
          
          </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
     
      <div style="width:32%" class="mx-3">
        <mat-accordion>
          <mat-expansion-panel  [expanded]="true" style="overflow-y: hidden;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex flex-row" style="width:100%">
                  <select style="width:10em;border:none; color:  #3F7FFF;font-family: Outfit;font-size: 14px;font-weight: 500;" 
                  (click)="runButtonClicked($event)" (change)="onSelectAlgorithm1()" class="hide-dropdown-icon" [(ngModel)]="selectedAlgorithm1">
                  <option [ngValue]="null" disabled selected hidden>Select User</option>
                  <option *ngFor="let description of userDescriptions" [value]="description">{{ description }}</option>
                  </select>
                  
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div style="width:80%"></div>
               <div style="display: flex;justify-content: end;width:20%">
                <button type="button"  (click)="runButtonClickedDendro($event)" 
                [disabled]="!selectedAlgorithm1 || !selectedClusteringMethod1 || !selectedClusterMetric "  class="btn btn-light run-button">Run</button>
               </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="overflow-y: scroll;height:57vh"  *ngIf="isOptionSelectedA2">
              <div class="pt-3 pb-4">
                <div class="d-flex flex-column">
                    <label class="lab">Clustering Method</label>
                    <select class="drop" [(ngModel)]="selectedClusteringMethod1">
                      <option value=""></option>
                      <option value="option1" selected>Ward</option>
                      <option value="option2">Complete</option>
                      <option value="option3">Single</option>
                    </select>
                  </div>
                  <div class="d-flex flex-column my-1">
                    <label class="lab">Metric</label>
                    <select class="drop" [(ngModel)]="selectedClusterMetric">
                      <option value=""></option>
                      <option value="option1" selected>Euclidean</option>
                      
                     
                    </select>
                  </div>
              </div>
            <div *ngIf="isLoadingDendro && clickbuttonDendro">
              <div class="d-flex justify-content-center">
                <!-- <div class="spinner-border" role="status" > -->
                  <span class="sr-only" id="loading"></span>
                <!-- </div> -->
              </div>
            </div>
           
            <div class="p-1"style="background-color: #F8F8F8;width:100%;" *ngIf="!isLoadingDendro &&clickbuttonDendro">
             
                <div class="card border-0 " style="background-color: white;margin:1em;">
                  
                    <div class="alert alert-success d-flex align-items-center mt-3 mx-1" role="alert">
                        <i class="bi bi-check-circle-fill px-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                              </svg>
                        </i>
                        
                        <div>
                          User based similarity matrix has been built successfully
                        </div>
                      </div>
                
                </div>
                <!-- <div class="d-flex flex-column" style="width:50%">
                  <label class="lab"># of clusters</label>
                <input class="drop" type="text" placeholder="" required [(ngModel)]="clusterAg">
                </div> -->
              
            </div>
          </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div style="width:32%"class="mx-2" >
        <mat-accordion>
          <mat-expansion-panel  [expanded]="true" style="overflow-y: hidden;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex flex-row" style="width:100%">
                  <select style="width:10em;border:none; color: #3F7FFF; font-family: Outfit; font-size: 14px; font-weight: 500;" 
                    (click)="runButtonClicked($event)" (change)="onSelectAlgorithm2()" class="hide-dropdown-icon" [(ngModel)]="selectedAlgorithm2">
                    <option [ngValue]="null" disabled selected hidden>Apriori</option>
                    <option value="option3">DBSCAN</option>
                    <option value="option2">Agglomerative Clustering</option>
                    <option value="option1">K-Means</option>          
                    <option value="option4">BIRCH</option>
                    <option value="option4">Affinity Propagation</option>
                    <option value="option4">Mini-Batch K-Means</option>
                    <option value="option4">Mean Shift</option>
                    <option value="option4">OPTICS</option>
                    <option value="option4">Spectral Clustering</option>
                    <option value="option4">Mixture of Gaussians</option>
                  </select>
                </div>
                
              </mat-panel-title>
              <mat-panel-description>
                <div style="width:80%"></div>
               <div style="display: flex;justify-content: end;width:20%">
                <button type="button"  (click)="runButtonClickedDB($event)" 
                 [disabled]="!selectedAlgorithm2 || !selectedParam || !selectedIterations" class="btn btn-light run-button">Run</button>
               </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="overflow-y: scroll;height:57vh" *ngIf="isOptionSelectedA3">
              <!-- <div class="d-flex flex-column px-1" style="padding-bottom: 2.5em;" >
                <label class="lab">n_neighbors</label>
              <input [(ngModel)]="selectedParam" class="drop" type="text" placeholder="">
              </div> -->
             
              <div class="d-flex flex-row pt-3">
                <div class="pt-3" style="width:25%">
                    <p class="lab">Support</p>
                </div>
                <div style="width:75%">
                    <mat-slider [(ngModel)]="selectedParam" class="custom-slider" thumbLabel discrete style="width: 90%;" min="0" max="1" step="0.1"  [(ngModel)]="slidedValue">
                        <input matSliderThumb>
                      </mat-slider>
                      <span style="color: #222; text-align: right; font-size: 12px; font-family: Outfit; font-style: normal; font-weight: 600;">{{ slidedValue}}</span>
                      <div class="d-flex flex-row" style="margin-top:-10px;width:100%">
                        <label id="example-name-label" class="example-name-label lab py-0 my-0" 
                        style="width:50%;display:flex;justify-content: start;">0</label>
                        <label class="example-value-label last lab" 
                        style="width:50%;display:flex;justify-content: end;margin-left: -2em;">1</label>
                      </div>
                </div>
            </div>
              <div >
                <div class="d-flex flex-row py-0">
                    <div class="pt-3" style="width:25%">
                        <p class="lab">Confidence</p>
                    </div>
                    <div style="width:75%">
                        <mat-slider class="custom-slider" [(ngModel)]="selectedIterations" thumbLabel discrete style="width: 90%;" min="0" max="1" step="0.1"  [(ngModel)]="slidedValue1">
                            <input matSliderThumb>
                          </mat-slider>
                          <span style="color: #222; text-align: right; font-size: 12px; font-family: Outfit; font-style: normal; font-weight: 600;">{{ slidedValue1}}</span>
                          <div class="d-flex flex-row" style="margin-top:-10px;width:100%">
                            <label id="example-name-label" class="example-name-label lab py-0 my-0" 
                            style="width:50%;display:flex;justify-content: start;">0</label>
                            <label class="example-value-label last lab" 
                            style="width:50%;display:flex;justify-content: end;margin-left: -2em;">1</label>
                          </div>
                    </div>
                </div>
               
              </div>
           
              <div *ngIf="isLoading && clickbuttonDB">
                <div class="d-flex justify-content-center">
                  <!-- <div class="spinner-border" role="status" > -->
                    <span class="sr-only" id="loading"></span>
                  <!-- </div> -->
                </div>
              </div>
              
              <div *ngIf="!isLoading && clickbuttonDB">
                <div class="p-1" style="background-color: #F8F8F8; width: 100%;">
                    <div class="card border-0 " style="background-color: white;margin:1em;">
                  
                        <div class="alert alert-success d-flex align-items-center mt-3 mx-1" role="alert">
                            <i class="bi bi-check-circle-fill px-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                  </svg>
                            </i>
                            
                            <div>
                             Association Rules are generated successfully
                            </div>
                          </div>
                    
                    
                    <!-- <div class="d-flex flex-row" style="width:10px">
                      <div>
                        <label class="lab">EPS Value</label>
                        <input class="drop" style="width:125px" type="text" placeholder="" required [(ngModel)]="epsValue">
                      </div>
                      <div style="width:80px;">
                        <label style="margin-left:10px" class="lab">Min Samples</label>
                        <input class="drop" style="width:125px;margin-left:10px" type="text" placeholder="" required [(ngModel)]="minSamples">
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              
          </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
     
     </div>
    <div class="sticky-bottom p-1" >
      <button (click)="gotoAnalysis()" type="button" class="btn btn-light btn1" [disabled]="!clickbuttonDendro ||!clickbuttonDB || !clickbutton"> Analysis
        <i class="bi bi-arrow-right">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="26" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </i>
      </button>
    
    </div>
  </div>
  
  
  
  
 